:root {
    --main-color-light: #1a1a1a;
    --main-color-dark: #dadada;
    --secondary-color-light: #0c0c0c;
    --secondary-color-dark: #dadada;;
    --border-color-light: #cccccc;
    --border-color-dark :#323236; 
    --bg-dark: #131313;
    --bg-light: #dadada;;
    font-family: sans-serif;
    cursor: auto;
} 

a {
    cursor: pointer;
}
@font-face {
    font-family: "Kobe";
    src: url(~assets/css/fonts/Kobe.otf) format("opentype");
    font-display: fallback;
}

html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
}

body{
    margin: 0;
}
ul {
    list-style: none;
}

button {
    outline: none;
}

a {
    text-decoration: none;
}

.light-mode a {
    color: inherit;
}

.dark-mode a {
    color: inherit;
}

.light-mode {
    background-color: var(--bg-light);
    color: var(--secondary-color-light);
}

.dark-mode {
background-color: var(--bg-dark);
color: var(--secondary-color-dark);
} 

.light-mode .icon {
    border-color: var(--border-color-light);
} 

.light-mode .icon:hover {
} 

.dark-mode .icon {
    border-color: var(--border-color-dark);
}


.icon {
    width: 22px;
    height: 22px;
    border: 2px solid;
    position: relative;
    margin: 0;
    padding: .5rem;
    top: 0;
    cursor: pointer;
    border-radius: .25rem;
    transition-property: all;
    transition-duration: .2s;
} 

.fixed{
    bottom: 0;
    left: 0;
    position: fixed;
    margin: .75rem;
    z-index: 1000;
}

.flex-1 {
    flex: 1 1 0%;
  }
  
  .top-nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    padding: 0 0.75rem;
    display: flex;
  }

.container {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
    overflow-x: hidden;
}

.main {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.main-title{
    margin: auto;
    font-size: 12vw;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.main-subtitle {
    padding: 0px;
    margin: 0px;
    display: block;
    font-weight: 400;
    font-size: 2.8vw;
    padding-bottom: 1rem;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

h2.section-title  {
    font-family: 'kobe';
    padding: 20px;
    letter-spacing: 0.2px;
    font-size: 6rem;
    margin-bottom: 0;
}

/* nav */

nav {
    display: block;
}

.nuxt-link-exact-active {
    color: #f9e9ea;
    background-color: #a84048;
}

.nuxt-link-exact-active:hover {
    opacity: 0.75;
}

.btn {
    text-align: center;
    border-radius: .25rem;
    padding: .5rem 1rem;
    border-width: 1px;
}

.light-mode .btn {
    color: var(--main-color-light);
}

.dark-mode .btn {
    color: var(--main-color-dark);
}

.btn:hover {
    opacity: 0.75;
}

.block {
    display: block;
}

.keywords {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 3.3333333333vh 2.0833333333vw;
    box-sizing: border-box;
    z-index: 4;
    text-align: center;
}

.keyword {
    margin: 0 5px;
    font-size: 1.8rem;
    font-family: 'Kobe', sans-serif;
    letter-spacing: 0.2px;
}

.holder {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.05;
    background-color: #0c0c0c;
    transition: all .6s ease;
    z-index: -1;
}    


